<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>Is my app working?</h1>
	<a href="/auth/facebook">Login with Facebook</a>
	<a href="/auth/google">Sign In with Google</a>
</body>
</html>